<!DOCTYPE html>
<html ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	
	<link rel="stylesheet" href="../src/angular_circle_countdown.css">
	
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/jquery/jquery.min.js"></script>
	<script src="../bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
	<script src="../src/angular_circle_countdown.js"></script>

	<script src="app.js"></script>
</head>
<body ng-controller="AppController" style="background: #3E3B4A">

    <!-- Two-way-binding: <input ng-model="data"/>
    <knob knob-data="data" konb-options="options"></knob>

    <hr>

    <div ng-repeat="data in knobData | filter:formatOptions" class="knob-example">
        <pre class="data">{{ data.formattedOptions }}</pre>
        <knob knob-data="data.value" knob-options="data.options"></knob>
    </div>
 -->
	
	<div style="width:780px;">
		<countdown autostart="true" now="0" end="5000" colors="flat-colors" callback="finished()"></countdown>
	</div>

	<button ng-click="addSeconds()">asd</button>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="flat-colors-wide" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="flat-colors-very-wide" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="flat-colors-black" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="black" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="black-wide" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="black-very-wide" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="black-black" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="white" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="white-wide" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="white-very-wide" callback="finished()"></countdown>
	</div>

	<div style="width:780px;">
		<countdown autostart="true" now="0" end="4000" colors="white-black" callback="finished()"></countdown>
	</div>

</body>
</html>