.countdown-wrapper {
    text-align: center;
}

.countdown-wrapper > div {
	display: inline-block;
    margin: 1px;
}

.countdown-wrapper input {
	color: white!important;
	/*font-weight: 100!important;*/
}